<h1 class="form_title">Log in</h1>
<div class="form">
    <%= form_tag sessions_path do %>

        <div class="field">
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email] %>
        </div>

        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>

        <p> <%= link_to "forgotten password?", new_password_reset_path %></p>

        <div class="field" id="remember">
          <%= label_tag :remember_me %> <%= check_box_tag :remember_me %>
        </div>

        <div class="actions"><%= submit_tag "Log in" %></div>
    <% end %>
</div>