
  <div id="side-bar">
    <div id="cart">


      <h4>Your Cart</h4>
      <table>
        <% for item in @cart.line_items %>
            <tr>
              <td><%= item.quantity %>&times;</td>
              <td><%= item.product.name %></td>
              <td class="item_price" ><%= number_to_currency(item.total_price) %></td>
              <td><%= button_to 'Remove' , item , :method => :delete %></td>
            </tr>
        <% end %>
        <tr id="total_line" >
          <td colspan="2" >Total</td>
          <td id="total_price" ><%= number_to_currency(@cart.total_price) %></td>
        </tr>
      </table>
      <div id="cart-buttons">
        <%= button_to 'Empty cart' , @cart, :method => :delete,:confirm => 'Are you sure?' %>
        <%= button_to 'Checkout', new_order_path, :method => :get %>
      </div>

    </div>
  </div>
<div id='main'>
<% @products.each do |product| %>
     <div class="entry ">
       <!--<table class="entry_table">-->
         <h3 class="product_name"><%= link_to product.name, product %></h3>
         <div class="right_side">
            <span class="product_image_holder"><%= image_tag product.image_url %></span>
            <div class="price_line">
                <span class="price"><%= product.price %>$</span>
                <div class="actions"><%= button_to 'Add to Cart', line_items_path(:product_id => product) %></div>
            </div>
          </div>
         <div class="product_description"> <%=truncate product.description,:length =>500 %> </div>


     </div>
<% end %>
</div>
