<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title>E-Commerce IUST</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= stylesheet_link_tag    'mobile' if mobile_device? %>
  <%= javascript_include_tag 'mobile' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user-nav">
  <ul id="menu">
    <li><%= link_to 'IUST Store', root_url, :id => 'site-title' %>
      <div class="dropdown dropdown_2columns" id='home-col'>
        <div class="col_2"><h3>Welcome to our website!</h3></div>
        <div class="col_2"><p>This is an e-commerce website created as a start for learning web development with <em>
          Ruby on Rails</em>.</p></div>
      </div>
    </li>
    <li><a href="#">Categories</a>
      <div class="dropdown dropdown_1column" id='cat-col'>
        <div class="col_1"><a href="#">Cellphone</a> </div>
        <div class="col_1"><a href="#">Notebook</a> </div>
        <div class="col_1"><a href="#">Tablet</a> </div>
        <div class="col_1"><a href="#">TV</a> </div>
        <div class="col_1"><a href="#">Home Cinema</a> </div>
        <div class="col_1"><a href="#">Music Player</a> </div>
      </div>
    </li>
    <li><a href="#">About Us</a>
      <div class="dropdown dropdown_2columns" id='about-col'>
        <div class="col_2"><p>This website was created by using <em>Ruby on Rails</em> framework as the final project for the
          Advanced Programming course in <em>Iran's University of Science and Technology</em>.</p></div>
        <div class="col_2"><h5>Some of the technologies used in this project:</h5></div>
        <div class="col_1"><em>Sass</em></div>
        <div class="col_1"><em>JQtouch</em></div>
        <div class="col_1"><em>Guard</em></div>
        <div class="col_1"><em>Bourbon</em></div>
        <div class="col_1"><em>SQLite3</em></div>
        <div class="col_1"><em>Active Admin</em></div>
        <div class="col_1"><em>and ...</em></div>

      </div>
    </li>
    <li><a href="#">Contact</a>
      <div class="dropdown dropdown_3columns" id="con-col">
        <div class="col_3">You can contact us by email.</div>
        <div class="col_1">Website Email:</div>
        <div class="col_2"><em>Ecommerce.IUST@Gmail.com</em></div>
      </div>
    </li>
    <li class="menu_right"><a href="#">User Account</a>
      <div id='log-in' class="dropdown align_right">
        <% if current_user %>
            <div id='logged-in'>
            Logged in as <span class="login-name"> <%= current_user.username %></span>.
            <%= link_to "Log out", logout_path, :class => "login-but" %>
            </div>
        <% else %>
            <div id="not-logged-in">
            <%= link_to "Sign up",signup_path , :class => "login-but"%> or
            <%= link_to"Log in",login_path , :class => "login-but"%>
            </div>
        <% end %>
      </div>
    </li>
  </ul>
</div>

<div id="container">

  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

</div>

  <div id="cols">
    <%= yield %>
  </div>

<footer>
    <% if mobile_device? %>
        <%= link_to "Full Site", :mobile => 0 %>
    <% else %>
        <%= link_to "Mobile Site", :mobile => 1 %>
    <% end %>
</footer>


</body>
</html>
