<!DOCTYPE html>
<html>
<head>
  <title>EcomAuth</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= stylesheet_link_tag    'mobile' if mobile_device? %>
  <%= javascript_include_tag 'mobile' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user-nav">
  <% if current_user %>
      Logged in as <%= current_user.username %>.
      <%= link_to "Log out", logout_path %>
  <% else %>
      <%= link_to "Sign up",signup_path %> or
      <%= link_to"Log in",login_path %>
  <% end %>
</div>

<div id="container">
  <p>
    <% if mobile_device? %>
      <%= link_to "Full Site", :mobile => 0 %>
     <% else %>
        <%= link_to "Mobile Site", :mobile => 1 %>
     <% end %>
  </p>

  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>

  <div id="main">
    <%= yield %>
  </div>



</body>
</html>
